*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   display: flex;
   justify-content: center;
   align-items: center; 
   margin-top: 15vh;
   background-color: #302F30;
}

#game_board{
    background-image: url(./assets/sprites/cenario_de_fundo.png);
}